.heading{
position: absolute;
top: 5px;
left: 10px;
right: 10px;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: black;
}

img{
    position: relative;
    top: 150px;
    left: 10px;
    right: 10px;
    height: 550px;
    width: 1430px;
}

.list{
    position: relative;
    top: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.links{
    position: relative;
    top: 250px;
    left: 500px;
}
.graph{
position: relative;
top: 300px;
}
body{
background-color: cornsilk;
}